@import './icon_contacts.css';
@import './icon_skills.css';
*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: lightblue;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 1240px;
    margin: 0 auto;
}

/*START MAIN*/
.main{
    width: 100%;
}
.main__container {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
}

.left__side {
    width: 100%;
    min-height: 100vh;
    background: #003147;
    color: white;
    padding: 40px 55px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.right__side {
    width: 100%;
    min-height: 100vh;
    background: white;
    color: #003147;
    padding: 60px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
/*END MAIN*/


/*START SECTION LEFT*/
.avatar{
    background-image: url('./asset/avatar-photo.jpg');
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 375px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts__skills {
    margin: 0 0 40px 0;
}

.space {
    width: 100%;
    height: 50px;
}

.contacts h2 {
    border-bottom: 2px solid white;
    padding: 0 0 15px 0;
    font-family: 'Aria', sans-serif;

}

.contacts__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contacts__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.skills__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skills__item p{
    font-size: 22px;
}

.skills__circle {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill__icon {
    width: 30px;
    height: 30px;
    background-size: cover;
}

.contacts h2{
    color: white;
    margin: 0;
}

/*END SECTION LEFT*/



/*START SECTION RIGHT*/
.title {
    font-weight: 500;
    color: #003147;
}
.title h1{
    font-size: 60px;
    font-family: 'Aria', sans-serif;

}
.title h2{
    font-size: 35px;
    line-height: 50px;
    font-family: 'Aria', sans-serif;

}
.info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.info h2{
    background: lightblue;
    width: 100%;
    padding: 0 20px;
    font-family: 'Aria', sans-serif;
}
.highlight {
    font-family: 'Aria', sans-serif;
    font-weight: 900;
}
.info P{
    font-weight: 700;
    line-height: 24px;
}

.info__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-info {
    height: 12px;
    background-size: cover;
}

.icon-education {
    background-image: url('./asset/icon-education.png');
}

.work {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    border-left: 3px solid rgb(0,49,71, .4);
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
}
.work__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work__title {
    font-size: 28px;
    font-weight: 900;
}

.work__subtitle {
    color: rgb(0,49,71, .8);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project__list {
    margin: 10px 0 0 0;
}
.projects__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project__title {
    font-size: 24px;
    font-weight: 500;
    list-style-type: disc;
    padding: 0 20px 0 0;
    color: rgb(0,49,71, .9);
}
.project__title::before {
    content: "\2022";
    margin: 0 5px 0 0;
    font-weight: 700;
    font-size: 32px;
}

.project__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project__icon {
    width: 22px;
    height: 22px;
    background-size: cover;
}

.project__main {
    padding: 0 0 0 20px;
}
.project__main h3{
    font-weight: 400;
    color: rgb(0,49,71, .9);
}

.info__work {
    margin: 0 0 260px 0;
    gap: 50px;
}


/*END SECTION RIGHT*/

